<div class="jumbotron jumbotron-about">
	<h2>about us.</h2>
</div>
<div class="container about-page">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="col-sm-4">
			<img src="app/assets/images/filler2.png" id="about-photo-first">
		</div>
		<div class="col-sm-8">
			<h3>Bridging the Gap is an organization founded by people with a passion for promoting mental health awareness. <br /></h3> 
			<h3></h3>
		</div>
		<div class="col-sm-12 about-second">
			<p>We want to to reduce the stigma associated with mental illness, help people access the resouces they need, and train others to better support their friends and loved ones in times of need.</p>
			<p>Our group does this through making and releasing media content - like pictures and videos - connecting people with therapists, helping students get appropriate academic concessions, and hosting training seminars.</p>
			<p>If you have any questions, please send us a <a href="#">message</a> or contact of of our <a href="/#/meet-us">executives</a>.</p>
		</div>	
	</div>
</div>