<div class="container text-center emergency-header">
	<h1>In an Emergency</h1>
</div>

<div class="container emergency-page-content">
	<div class="col-sm-4">
		<h4>Call:</h4>
		<h4><b>911</b></h4>
		<br />
		<h4><b>310-6789</b></h4>
		<br />
		<h4><b>1-800-784-2433</b></h4>
		<h4>(1-800-SUICIDE)</h4>
	</div>
	<div class="col-sm-8">
		<h4><b>- If you suspect that your life or the life of your friend or family member is in immediate danger.</b></h4>
		<h4 class="second"><b>- If you are in distress and need to talk with someone through a crisis</b></h4>
		<p>Do not add an area code. This number will connect to a BC crisis line with no wait.</p>
		<h4><b>- If you are having suicidal thoughts but don't think your life is in immediate danger.</b></h4>
		<p>The call is free anytime of the day or night.</p>
	</div>
</div>
