<div class="jumbotron jumbotron-home">
	<h1 class="hi">hi,</h1>
	<h2 class="we-are">we are</h2>
	<h1 class="btg">Bridging the Gap</h1>
</div>

<div class="container home-page-content">
	<div class="col-sm-6 col-lg-6">
		<div class="col-sm-6">
			<div class="info-ball ball1">
				<p class="ball-content"><b>Outreach</b></p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<button type="button" class="btn btn-default">See more.</button>
		</div>
		<div class="col-sm-6">
			<div class="info-ball ball2">
				<p><b>Academic Concessions</b></p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<button type="button" class="btn btn-default">What's this?</button>
		</div>
		<div class="col-sm-6">
			<div class="info-ball ball3">
				<p><b>The Science</b></p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<button type="button" class="btn btn-default">Learn more.</button>
		</div>
		<div class="col-sm-6">
			<div class="info-ball ball4">
				<p><b>Social Media</b></p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<button type="button" class="btn btn-default">Learn more.</button>
		</div>
	</div>
	<div class="col-sm-6 col-lg-6 social-media">
		<h3>Bridging the Gap increases mental health awareness with a personal touch.</h3>
		<!-- Facebook integration -->
		<div class="fb-page" data-href="https://www.facebook.com/codethechangeubc" data-width="500" data-width="500" data-tabs="timeline,events,messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			<blockquote cite="https://www.facebook.com/codethechangeubc" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/codethechangeubc">
					Code the Change - UBC
				</a>
			</blockquote>
		</div>
		<!-- End facebook integration -->

	</div>
</div>