<div class="col-sm-1 meet-us-banner">
	<h2 class="meet">meet</h2>
</div>
<h2 class="us"> us.</h2>
<div class="col-sm-8 col-sm-offset-2 exec">
	<div class="col-sm-4 exec-picture">
		<img src="app/assets/images/filler1.png" id="exec-picture">
	</div>
	<div class="col-sm-8 exec-info">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  	<button type="button" class="btn btn-default btn1" data-toggle="modal" data-target="#exec1-contact">Contact me</button>

		<!-- Modal -->
		<div class="modal fade" id="exec1-contact" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Contact Eric</h4>
		        </div>
		        <div class="modal-body">
		          <p>Email: </p>
		          <p>Phone: </p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		</div>
	</div>
</div>
<div class="col-sm-8 col-sm-offset-2 exec">
	<div class="col-sm-8 exec-info">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<button type="button" class="btn btn-default btn2" data-toggle="modal" data-target="#exec2-contact">Contact me</button>

		<!-- Modal -->
		<div class="modal fade" id="exec2-contact" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Contact Exec</h4>
		        </div>
		        <div class="modal-body">
		          <p>Email: </p>
		          <p>Phone: </p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		</div>
	</div>
	<div class="col-sm-4 exec-picture">
		<img src="app/assets/images/filler1.png" id="exec-picture">
	</div>		
</div>
<div class="col-sm-8 col-sm-offset-2 exec">
	<div class="col-sm-4 exec-picture">
		<img src="app/assets/images/filler1.png" id="exec-picture">
	</div>
	<div class="col-sm-8 exec-info">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<button type="button" class="btn btn-default btn1" data-toggle="modal" data-target="#exec3-contact">Contact me</button>

		<!-- Modal -->
		<div class="modal fade" id="exec3-contact" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Contact Exec</h4>
		        </div>
		        <div class="modal-body">
		          <p>Email: </p>
		          <p>Phone: </p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		</div>
	</div>		
</div>