<div class="container trainer-page-content">
	<div class="col-sm-6 text-center">
		<div class="image-holder">
			<img src="app/assets/images/filler1.png" alt="Tile1" data-toggle="collapse" data-target=#tile1 id="image">
			<div class="text">
				<h3><b>Help your family</b></h3>
				<h4>Learn More</h4>
			</div>
		</div>
		<div id="tile1" class="collapse info">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a href="#">Read more</a>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<div class="image-holder">
			<img src="app/assets/images/filler3.png" alt="Tile2" data-toggle="collapse" data-target=#tile2 id="image">
			<div class="text">
				<h3><b>Help your friends</b></h3>
				<h4>Learn More</h4>
			</div>
		</div>
		<div id="tile2" class="collapse info">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a href="#">Read more</a>
		</div>
	</div>
</div>
