/* This file contains global styling for the site. Directory: 

	1. HEADER
	2. HOMEPAGE
	3. ABOUT PAGE
	4. MEET US PAGE
	5. TRAINING PAGE
	6. EMERGENCY PAGE
	7. HELP PAGE
	8. FOOTER

=========================================================== */



/* ===========================================
============ HEADER =========================
===========================================*/

header {
	padding-bottom: 5%;
}

.header .navbar {
	border-bottom: 3px solid #339FF7;
}

.header .navbar .navbar-header a {
	color: orange;
}

.header .navbar-default {
	background-color: white;
}

.header .navbar .nav li a {
	color: #339FF7;
}

.header .navbar .nav li .emergency, 
.header .navbar .nav li a.emergency:hover,
.header .navbar .nav li.active a.emergency,
.header .navbar .nav li.active a.emergency:hover {
	color: #ff0000;
}

.header .navbar .nav li.active a,
.header .navbar .nav li.active a:hover {
	background-color: #339FF7;
	color: white;
}

.header .navbar .nav li:hover a,
.header .navbar .nav li:hover {
	background-color: #339FF7;
	color: white;
}


/* ===========================================
============ HOME PAGE ======================
===========================================*/

.jumbotron-home {
	background-image: url('/app/assets/images/ubc1.png');
	margin-top: -2%;
	height: 80vh;
	background-image: cover;
}

.jumbotron-home .hi {
	padding-left: 20%;
	color: white;
}

.jumbotron-home .we-are {
	padding-top: 10%;
	padding-left: 48%;
	color: white;
	margin-bottom: -3%;
}

.jumbotron-home .btg {
	text-align: center;
	color: #339FF7;
	font-weight: bold;
	font-variant: small-caps;
	font: cursive;
}

.home-page-content .info-ball {
	margin-left: 20%;
	color: white;
	border-radius: 50%;
	width: 60%;
	height: 120px;
	text-align: center;
}

.home-page-content .col-sm-6 .col-sm-6 .info-ball p {
	padding-top: 30%;
	color: white;
}

.home-page-content .col-sm-6 .col-sm-6 p {
	color: gray;
	text-align: center;
	padding-top: 10px;
}

.home-page-content .col-sm-6 .col-sm-6 {
	padding-top: 20px;
}

.home-page-content .col-sm-6 .col-sm-6 .btn {
	margin-left: 28%;
	background-color: orange;
	border-color: orange;
	color: white;
}

.home-page-content .col-sm-6 .col-sm-6 .btn:hover {
	background-color: white;
	border-color: orange;
	color: orange;
}


.home-page-content .ball1 {
	background-color: #0000ff;
}

.home-page-content .ball2 {
	background-color: #339FF7;
}

.home-page-content .ball3 {
	background-color: #00ccff;
}

.home-page-content .ball4 {
	background-color: #0066ff;
}

.home-page-content .social-media {
	border-left: 1px solid gray;
}

.home-page-content .social-media .fb-page {
	padding-left: 5%;
}

.home-page-content .social-media h3 {
	color: gray;
	text-align: center;
	padding-bottom: 10px;
}



/* ===========================================
============ ABOUT PAGE ======================
===========================================*/

.jumbotron-about {
	background-image: url('/app/assets/images/filler4.png');
	margin-top: -2%;
	height: 50vh;
	background-image: cover;
}

.jumbotron-about h2 {
	color: white;
	padding-top: 10%;
	padding-left: 30%;
}

.about-page .col-sm-8 .col-sm-8 {
	border-left: 2px solid #339FF7;
}

.about-page .col-sm-8 h3 {
	padding-top: 2%;
	color: #339FF7;
}

.about-page p {
	color: gray;
	font-weight: bold;
}

.about-page .col-sm-4 img {
	object-fit: cover;
	height: 23%;
	width: 100%;
}

.about-page .about-second {
	padding-top: 3%;
}

.about-page .about-second a {
	color: orange;
}


/* ===========================================
============ MEET US PAGE ====================
===========================================*/

.meet-us-banner {
	background-color: gray;
	border-radius: 0 100% 100% 100%;
	margin-left: 10%;
	margin-bottom: -10%;
}

.meet-us-banner .meet {
	padding-left: 10%;
	color: white;
}

.us {
	color: orange;
	padding-left: 50%;
}

.meet-us-top {
	padding-bottom: 4%;
}

.meet-us-top .meet-us-top-info {
	border-bottom: 1px solid gray;
	color: gray;
	padding-bottom: 2%;
}

.exec {
	border-bottom: 1px solid #339FF7;
	padding-top: 20px; 
	padding-bottom: 20px;
}

.exec .exec-picture img {
	object-fit: cover;
	width: 100%;
	height: 25%;
	border-radius: 5%;
}

.exec .exec-info .btn-default {
	background-color: #339FF7;
	color: white;
}

.exec .exec-info .btn1 {
	margin-left: 10%;
}

.exec .exec-info .btn2 {
	margin-left: 63%;
}

.exec-info .btn-default:hover {
	background-color: #339FF7;
	border-color: blue;
	color: white;
}

/* ===========================================
=============TRAINING PAGE ===================
===========================================*/

.trainer-page-content .top-content {
	color: gray;
	padding-bottom: 20px;
	padding-top: 20px;
}
.trainer-page-content .text {
	position: relative;
	top: 60%;
	color: white;
}

.trainer-page-content .image-holder {
    width: 100%;
    height: 300px;
    position: relative;
}

.trainer-page-content #image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.trainer-page-content img:hover {
	opacity: 0.6;
}

.trainer-page-content .col-sm-6 .info {
	padding: 20px;
	text-align: justify;
	border-style: solid;
	border-color: #339FFF;
	border-width: 1px 1px 1px 1px;
}


/* ===========================================
=============== EMERGENCY PAGE ===============
===========================================*/

.emergency-header {
	padding-top: 5%;
}
.emergency-page-content {
	padding-bottom: 6%;
}

.emergency-page-content .col-sm-4 b {
	color: blue;
}

.emergency-page-content .col-sm-4 h4 {
	text-align: right;
}

.emergency-page-content .col-sm-8 {
	padding-top: 27px;
}

.emergency-page-content p {
	padding-left: 30px;
}

.emergency-page-content .col-sm-8 .second {
	padding-top: 11px;
}

/* ===========================================
============ HELP PAGE ======================
===========================================*/

.jumbotron-get-help {
	background-image: url('/app/assets/images/filler4.png');
	margin-top: -2%;
	height: 50vh;
}

.jumbotron-get-help h2 {
	color: white;
	padding-top: 10%;
	margin-left: 60%;
}

.help-content .get-help-form #reason {
	height: 100px;
}

.help-content p {
	color: #339FF7;
	padding-bottom: 10px;
}

.help-content .get-help-form {
	padding: 25px;
	background-color: #d9d9d9;
	border-radius: 3%;
}

.help-content .get-help-form .btn {
	background-color: #339FF7;
	border-color: #339FF7;
	color: white;
}

.help-content .get-help-form button:hover {
	text-decoration: underline;
}


/* ===========================================
=============== FOOTER ======================
===========================================*/

footer {
	padding-top: 5%;
}

footer .footer-bottom {
	bottom: 0;
}

footer .footer-top, 
footer .footer-bottom {
	background-color: #d9d9d9;
	margin-left: -2%;
	margin-right: -2%;
}

footer .footer-top {
	border-top: 1px solid gray;
}

footer .footer-left {
	list-style: none;
	float: left;
	margin-left: -3%;
}

footer .media {
	margin-left: 45%;
}

footer .media img {
	height: 50px;
	width: 45px;
	padding: 2%;
}

footer .media img:hover {
	opacity: 0.6;
}

footer .footer-top .footer-right {
	padding-right: 2%;
}

footer .footer-right {
	list-style: none;
	float: right;
	padding-right: 10px;
}

footer .footer-right li a {
	color: black;
	font-weight: bold;
}


footer .footer-top li {
	float: left;
	padding: 5px;
}

footer .footer-bottom ul {
	list-style: none;
}

footer .footer-middle {
	float: right;
}

.modal-help-overlay {
    position: absolute;
    z-index: 200;
    font-size: -webkit-xxx-large;
    opacity: 0.85;
}

.modal-help-form {
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.display-modal {
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    opacity: 0.4;
    pointer-events: none;
}

.help-sending {
    margin-top: -35%;
    margin-left: 35%;
}

.help-error {
    font-size: 306%!important;
    margin-top: -42%;
    margin-left: 4%;
}

.help-success {
    margin-top: -50%;
    margin-left: 4%;
}

.help-success span {
    font-size: 180%!important;
}

.get-help-form .input-required {
    background-color: rgba(51, 159, 247, 0.3);
}

.get-help-form .require-message {
    font-weight: bolder;
}